# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Setting Menu.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Admins\Desktop\Unity\Training\Setting Menu\.idea\.idea.Setting Menu\.idea/dataSources/
/dataSources.local.xml
